.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2vh;
}
.marca{
  display: flex;
  flex-direction:row;
}
.logo{
  height: 50px;
  width: auto;
}
.marca h4{
  padding-top: 1vh;
}

h1{
  text-align: center;
}

.cartLogo{
  height: 50px;
  width: auto;
}
.catalogo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}

.contenedor{
  border-radius: 3%;
}
.precio{
  text-align: center;
  font-weight: bold;
  margin-top: 1vh;
}
.counter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cantidad{
  text-align: center;
}
